# 담당자를 지정할 때는 github ID 혹은 github email을 넣습니다.

/src @hun-ca @belljun3395 @eden6187

/api @hun-ca @belljun3395 @eden6187

/data @hun-ca @belljun3395 @eden6187

/email @hun-ca @belljun3395 @eden6187

/common @hun-ca @belljun3395 @eden6187

/config @hun-ca @belljun3395 @eden6187

/docs @hun-ca @belljun3395 @eden6187

/scripts @hun-ca @belljun3395 @eden6187

/resources @hun-ca @belljun3395 @eden6187
