spring:
    cache:
        type: jcache
        jcache:
            config: classpath:ehcache.xml
    cloud:
        aws:
            s3:
                bucket: gen-cards
            region:
                static: ap-northeast-2
            credentials:
                access-key: ${STORAGE_ACCESS_KEY}
                secret-key: ${STORAGE_SECRET_KEY}
        openfeign:
            client:
                config:
                    default:
                        connectTimeout: 10000
                        readTimeout: 60000
                        loggerLevel: full
                    openai:
                        url: https://api.openai.com
                        errorDecoder: com.few.generator.config.feign.OpenAiErrorDecoder
                        defaultRequestHeaders:
                            Authorization: "Bearer ${OPENAI_API_TOKEN:thisisopenai}"
                            Content-Type: "application/json"
                        requestInterceptors:
                            - com.few.generator.config.feign.OpenAiRequestInterceptor
                        encoder: com.few.generator.config.feign.OpenAiEncoder
                        decoder: com.few.generator.config.feign.OpenAiDecoder
    generator:
        datasource:
            url: ${DB_HOSTNAME}/generator?allowPublicKeyRetrieval=true&rewriteBatchedStatements=true&allowMultiQueries=true&connectTimeout=10000&socketTimeout=1800000
            username: ${DB_USERNAME}
            password: ${DB_PASSWORD}
            driver-class-name: com.mysql.cj.jdbc.Driver
        jpa:
            hibernate:
                ddl-auto: update
            properties:
                hibernate:
                    format_sql: true

scheduling:
    cron:
        local-gen: "0 0 4 * * *"
        global-gen: "0 0 13 * * *"
        email: "0 0 9 * * *"
        cache-metrics: "0 0 3 * * *"
        instagram-token-refresh: "0 0 2 * * MON"

urls:
    webhook:
        discord: ${WEBHOOK_DISCORD}
        slack: ${WEBHOOK_SLACK}

generator:
    scraping:
        maxRetries: 5
        defaultRetryAfter: 60
    contents:
        countByCategory: 9
        pageSize: 20
    grouping:
        targetPercentage: 30
        minGroupSize: 3
        maxGroupSize: 9
        similarityThreshold: 0.7
    instagram:
        account-id: ${INSTAGRAM_ACCOUNT_ID}

app:
    http:
        connect-timeout: 10
        read-timeout: 15
        write-timeout: 15
        max-idle-connections: 1
        keep-alive-duration: 60

logging:
    level:
        org.springframework.cache: INFO
        org.ehcache: WARN

management:
    endpoints:
        web:
            exposure:
                include: health,info,metrics,caches
            base-path: /actuator
    endpoint:
        health:
            show-details: when-authorized
        caches:
            enabled: true
    metrics:
        enable:
            jvm: true
            system: true
            hikaricp: true
            cache: true
